.container{
    width: 100%;
    height: auto;
    background: hsla(180, 39%, 90%, 0.458);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;



}

.box{
    width: 23%;
    height: 300px;
    margin:15px;
    box-sizing: border-box;


}

@media screen and (max-width: 1250px){

    .box{
        width:40%
    }

}

@media screen and (max-width: 650px){

    .box{
        width:90%
        
    }
}
    
}